.custom-nav {
  height: 65px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-right: 120px;
  margin-bottom: 9px;
}

.navbar-brand {
  pointer-events: none;
}

.form-check-input {
  cursor: pointer;
}

.logo-name {
  font-size: 30px;
  color: white;
}

.custom-switch {
  margin-right: 30px;
  width: 180px;
}

.custom-label {
  color: white;
}
